/* common */
*,
body {
  margin: 0;
  padding: 0;

  font-family: "Poppins", sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* hero-section */
.hero {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  height: 646px;
}

.hero-container {
  background-color: #161616;
  display: flex;
  color: #ffffff;
  width: 80vw;
  border-radius: 30px;
}
.hero-info {
  width: 50%;
  align-self: center;
  margin-left: 100px;
}
.hero-info h1 {
  font-size: 70px;
}
.hero-info p {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.hero-img {
  align-self: flex-end;
  width: 50%;
}
.hero-img img {
  width: 80%;
}
.live-btn {
  margin-top: 30px;
  text-decoration: none;
  color: #ffff;
  font-size: 20px;
  padding: 16px 25px;
  background-color: #dd0000;
  border-radius: 5px;
}
/* middle section  */
.middle-container {
  display: flex;
  width: 80vw;
  margin-top: 130px;
  justify-content: space-between;
  column-gap: 24px;
}
.menu {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
  background-color: #161616;
  width: 312px;
  height: 312px;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
}
.menu a {
  text-decoration: none;
  color: #161616;
  background-color: #ffffff;
  padding: 17px 0;
  font-size: 20px;
  width: 80%;
  border-radius: 10px;
  text-align: center;
}
.cards {
  width: 80%;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
}
.card {
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}
.card img {
  width: 100%;
}
.banner {
  width: 100%;
}
.tag {
  font-size: 16px;
  border: 1px solid #161616;
  border-radius: 5px;
  display: inline-block;
  padding: 4px 10px;
  margin: 20px 0 0 20px;
}
.title h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 15px 0 0 20px;
}
.info {
  display: flex;
  column-gap: 30px;
  margin-bottom: 20px;
}
.icons {
  padding-right: 10px;
  margin: 15px 0 15px 20px;
}
/* footer section  */
footer {
  margin-top: 130px;
  background-color: #161616;
  color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.goal {
  font-size: 40px;
  font-weight: 500;
  color: #ffffff;
  margin: 130px 750px 0;
}
footer hr {
  width: 80%;
  border: 1px solid #ffffff13;
  margin: 50px 0;
}
.footer-menu {
  margin-bottom: 130px;
}
.footer-menu a {
  text-decoration: none;
  color: #b9b9b9;
  font-size: 16px;
  padding-right: 70px;
}
